@import './variables';

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0 !important;
}

body {
  &.overflow {
    overflow: scroll;

    // Small devices (landscape phones, less than 768px)
    @media only screen and (max-width: 767.98px) {
      overflow: hidden;
    }
  }
}

.main-wrapper {
  position: relative;

  .content {
    border-radius: 6px;
    margin-right: 16px;

    .card {
      .header-custom {
        background-color: transparent;
        margin: 0 16px;
        padding-left: 0;
        padding-right: 0;
        font-size: 50px;
        font-weight: 500;

        &.primary {
          // color: darken($themeColor, 10%);
          color: black;
        }
      }
    }

    // Small devices (landscape phones, less than 768px)
    @media only screen and (max-width: 767.98px) {
      margin: 0 16px 16px;
    }
  }
}

.border-custom {
  border: 0;
  border-left: 13px solid transparent;

  &.primary {
    border-color: darken($themeColor, 10%);
  }
}

.form-check {
  input,
  label {
    cursor: pointer;
  }
}
