@import '../../assets/scss/variables';

.btt {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 50px;
  width: 38px;
  cursor: pointer;
  fill: darken($themeColor, 5%);
  visibility: hidden;
  opacity: 0;
  background: #fff;
  transition: fill 0.2s, opacity 0.4s, visibility 0.4s;
  z-index: 2;
  border-radius: 5px;

  &:hover {
    fill: darken($themeColor, 10%);
  }

  &:active {
    fill: darken($themeColor, 15%);
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }

  // Medium devices (tablets, 768px and up)
  @media only screen and (min-width: 768px) {
    display: block;
  }
}
